<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBR5wwX50ignibWaH4E3VCR5NykpqFNWk8</string>
	<key>GCM_SENDER_ID</key>
	<string>539972034026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Busanify</string>
	<key>PROJECT_ID</key>
	<string>busanify-30f4e</string>
	<key>STORAGE_BUCKET</key>
	<string>busanify-30f4e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539972034026:ios:aa3d4644cad6858d35e693</string>
</dict>
</plist>